<nav class="nav bg-light border-bottom p-2 d-flex justify-content-between align-items-center">
  <div class="navbar-brand m-2 link-index"><%= link_to 'Simple Airbnb', flats_path%></div>
  <div class="d-flex">
    <form class="form-inline">
      <input class="form-control " type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success rounded" type="submit">Search</button>
    </form>
    <div class="m-2 btn btn-outline-primary rounded">Add flat</div>
  </div>
</nav>
