// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #fff;
}

.container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

a, .link-index {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

ul {
  list-style: none;
}

li {
  padding: 0.3em;
}

.container-details {
  position: relative;
  bottom: 80px;
}
